import pandas module

In [1]:
import pandas as pd

Load the dataset inot a dataframe

In [4]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

Find the number of duplicate rows in the dataframe

In [5]:
df.duplicated().sum()

154

Remove the duplicate rows from the dataframe

In [6]:
df_duplicateRowsRemoved = df.drop_duplicates()

Confirm whether the duplicate rows were removed.

In [8]:
df_duplicateRowsRemoved.duplicated().sum()

0

Find the missing values in all columns

In [10]:
df_duplicateRowsRemoved.isnull().sum().sum()

30967

Find out the number of duplicate rows in the column 'Respondent'

In [17]:
# rename df_duplicatRowsRemoved to df_noDupRow
df_noDupRow = df_duplicateRowsRemoved

In [18]:
df['Respondent'].duplicated().sum()

154

Find the number of blank row under the column EdLevel

In [19]:
df['EdLevel'].isnull().sum()

116

Find the number of missing values under the column Country

In [20]:
df['Country'].isnull().sum()

0

What is the majority category under the column Employment?

In [21]:
df['Employment'].value_counts().idxmax()

'Employed full-time'

Under the column " UndergradMajor", which category has the minimum number of rows?

In [23]:
df['UndergradMajor'].value_counts().idxmin()

'A health science (ex. nursing, pharmacy, radiology)'

How many unique values are there in the CompFreq column?

In [25]:
df['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

After removing the duplicate rows, how many respondents are being paid yearly?

In [27]:
df['CompFreq'].value_counts()

Yearly     6163
Monthly    4846
Weekly      337
Name: CompFreq, dtype: int64

Alternative method

In [32]:
df['CompFreq'].value_counts()['Yearly']

6163

Another alternative method

In [34]:
df[df['CompFreq'] == 'Yearly'].shape[0]

6163